In [1]:
print("Hello, world")

Hello, world

In [2]:
num=3+5
print("num:{}".format(num))

num:8

In [4]:
num

8

# Test

one two tree four
Tes
**Bold**
*italic*
***Bold and Italic***

# heading two

### heading three
1. Try to write using number
2. This is number 2
3. this is number 3

# Mathematics operation

In [3]:
print(1+2)

3

In [4]:
print(250+100+400)

750

In [8]:
print(15-3)
print(54+21-105)
print(-30-40)

12
-30
-70

In [10]:
print(7*9)

63

In [11]:
print(50/4)
print(50/2)
print(50/3)

12.5
25.0
16.666666666666668

In [12]:
print(50//3)
print(50%3)
print(-3//2)
print(2/0)

16
2
-2

ZeroDivisionError: division by zero

In [13]:
print(2**3)
print(2**0.5)

8
1.4142135623730951

In [14]:
print(type(7))
print(type(9))
print(type(7*9))

<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
print(type(50))
print(type(4))
print(type(50/4))

<class 'int'>
<class 'int'>
<class 'float'>

In [16]:
print(type(50/2))

<class 'float'>

In [19]:
print(2.0)
print(2.)
print(0.5)
print(.5)

2.0
2.0
0.5
0.5

In [20]:
print(float(2))
print(type(float(2)))

2.0
<class 'float'>

In [22]:
print(int(2.7))
print(type(int(2.7)))

2
<class 'int'>

In [23]:
print(float(2,0))
print(type(float(2.0)))

TypeError: float expected at most 1 argument, got 2

In [24]:
print(3+5*4-10/2)

18.0

In [25]:
print((3+5) * 4 - 10/2)

27.0

In [26]:
print(abs(-3))

3

# VAriable

In [27]:
x = 250 + 100 + 400

In [28]:
print(x)

750

In [29]:
print(x*2)

1500

In [30]:
y = x/2

In [31]:
print(y)

375.0

In [32]:
s , t = 100 , 200

In [33]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

# Variable name example

In [34]:
today_temperature=35
student_age=33

In [35]:
STANDARD_ATMOSPHERE=101325

In [36]:
x=1
x=x+5
print(x)

6

In [38]:
x=1
x+=5
print(x)

6

# Text Data

In [39]:
print("text")
print("learn python")
student_name="Alice"
print(student_name)

text
learn python
Alice

In [40]:
print("私の名前は" + student_name + "です。")

私の名前はAliceです。

In [41]:
print("私の名前は{}です。".format(student_name))

私の名前はAliceです。

In [42]:
print(student_age)

33

In [44]:
print("私の名前は{}で、{}歳です。".format(student_name, student_age))
print("私の名前は{1}で、{0}歳です。".format(student_name, student_age))

私の名前はAliceで、33歳です。
私の名前は33で、Alice歳です。

In [45]:
print(today_temperature)

35

In [46]:
tomorrow_temperature= -5

In [48]:
print("today temperature {:+}, tomorrow temperature {:+}".format(today_temperature,tomorrow_temperature))

today temperature +35, tomorrow temperature -5

In [50]:
today_temperature = 3.53
tomorrow_temperature = -5.27
print("today temperature {:.1f}, tomorrow temperature {:.2f}".format(today_temperature,tomorrow_temperature))

today temperature 3.5, tomorrow temperature -5.27

In [51]:
print("today temperature {:+.1f}, tomorrow temperature {:+.2f}".format(today_temperature,tomorrow_temperature))

today temperature +3.5, tomorrow temperature -5.27

In [53]:
print("python".capitalize())

Python

In [55]:
print("Student age",student_age)
print("Student age", student_age, sep=":")

Student age 33
Student age:33

In [58]:
print("Student age {}".format(student_age))
print("Student age", student_age, sep=" ")
print("Student age " + str(student_age))

Student age 33
Student age 33
Student age 33

In [59]:
print("1", end=":")
print("2")

1:2

# List

In [61]:
mounthly_average_temperatures = [6,14,17,19,25,24,22,21,19,20,17,15]
print(mounthly_average_temperatures)
print(type(mounthly_average_temperatures))

[6, 14, 17, 19, 25, 24, 22, 21, 19, 20, 17, 15]
<class 'list'>

In [62]:
print("temperature on march {} and august {}".format(mounthly_average_temperatures[2], mounthly_average_temperatures[7]))

temperature on march 17 and august 21

In [64]:
print(type(mounthly_average_temperatures[2]))

<class 'int'>

In [65]:
print(mounthly_average_temperatures[2])
mounthly_average_temperatures[2]=10
print(mounthly_average_temperatures[2])

17
10

In [66]:
print(mounthly_average_temperatures[2:9])

[10, 19, 25, 24, 22, 21, 19]

In [68]:
print(mounthly_average_temperatures[0:7:2])
print(mounthly_average_temperatures[0:7:3])

[6, 10, 25, 22]
[6, 19, 22]

In [71]:
print(mounthly_average_temperatures[::2])
print(mounthly_average_temperatures[::-1])
print(mounthly_average_temperatures)

[6, 10, 25, 22, 19, 17]
[15, 17, 20, 19, 21, 22, 24, 25, 19, 10, 14, 6]
[6, 14, 10, 19, 25, 24, 22, 21, 19, 20, 17, 15]

In [73]:
print(len(mounthly_average_temperatures))

12

In [74]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
odd_and_even = [[0, 2, 4, 6, 8], [1, 3, 5, 7, 9]]
mixed = [-5.5, "Python", 270, ["a", "b", "c"]]

In [75]:
numbers = [0, 1, 2, 3]
numbers.append(4)
print(numbers)

[0, 1, 2, 3, 4]

In [77]:
numbers.append(5)
print(numbers)

[0, 1, 2, 3, 4, 4, 5]

In [78]:
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)

['alpha', 'beta']

In [79]:
numbers = [0, 1, 2, 3]
numbers = numbers.append(4)
print(numbers)
print(type(numbers))

None
<class 'NoneType'>

In [80]:
numbers = [0, 1, 2, 3]
print(numbers.append(4))
print(numbers)

None
[0, 1, 2, 3, 4]

In [81]:
text = "python"
text.capitalize()
print(text)
capitalized_text = text.capitalize()
print(text)
print(capitalized_text)

python
python
Python

In [82]:
print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [83]:
user_ids = ("A081" , "A114" , "A186")
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [84]:
print(user_ids[0])

A081

In [85]:
user_ids[0]="A082"

TypeError: 'tuple' object does not support item assignment

In [86]:
print(user_ids)

('A081', 'A114', 'A186')

In [87]:
user_ids = ["A081", "A114", "A186"]
print(user_ids)
user_ids[0]="A082"
print(user_ids)

['A081', 'A114', 'A186']
['A082', 'A114', 'A186']

In [88]:
user_ids = "A081", "A114", "A186"
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [89]:
s, t = 100, 200
(s, t) = (100, 200)

In [90]:
print(s,t)

100 200

In [91]:
empty_tuple = ()
print(empty_tuple)

()